* {
  box-sizing: border-box; }

body, html {
  background: white;
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif; }

h2 {
  float: left;
  margin-left: 20px;
  font-size: 1.3em;
  font-weight: 400; }

h5 {
  font-size: 15px;
  font-weight: 900;
  color: grey;
  margin-bottom: 0; }

h3 {
  font-weight: 800;
  color: #393939;
  margin-top: 5px; }

p {
  font-size: 15px;
  font-weight: lighter;
  color: grey; }

hr {
  margin: 0px; }

.full-size-module h1, .full-size-module h3, .resume-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.content:after, .button-bar:after, .prerequisite:after {
  content: "";
  display: table;
  clear: both; }

.about h2, .column2 h2 {
  margin: 0;
  float: none;
  font-weight: 900; }

#wrap {
  width: 1220px;
  background: #EDEFF0;
  margin: 0 auto;
  padding: 20px;
  overflow: auto;
  margin-top: 10px;
  padding-bottom: 5px; }

#navbar {
  width: 1150px;
  background: #EDEFF0;
  margin: 0 auto;
  padding: 0px;
  overflow: auto;
  -webkit-box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.5); }

.module {
  width: 520px;
  background: white;
  margin: 30px;
  height: 330px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.2); }
  .module:nth-child(odd) {
    float: left;
    margin-left: 40px; }
  .module:nth-child(even) {
    float: right;
    margin-right: 40px; }
  .module:first-child .border, .module:last-child .border {
    background-color: #2C9676; }
  .module:nth-child(3) .border {
    background-color: #838CC7; }
  .module:nth-child(2) .border {
    background-color: #F092B0; }

.full-size-module {
  position: relative;
  width: 100%;
  background: #255A7D;
  margin: 0px;
  height: 600px;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 5px -6px rgba(0, 0, 0, 0.2); }
  .full-size-module .border {
    background-color: #3079AB; }

.border {
  margin: 0;
  padding: 0;
  text-align: right;
  color: white;
  padding: 5px 25px;
  border-radius: 3px 3px 0px 0px; }

.java {
  color: #2C9676; }

.wordpress {
  color: #838CC7; }

.python {
  color: #F092B0; }

.css {
  color: #255A7D; }

.content {
  background: white;
  padding: 0px 30px; }

.button-bar {
  padding-top: 20px;
  padding-bottom: 20px; }
  .button-bar span {
    margin-top: 0; }

.column1 {
  float: left;
  width: 65%;
  padding: 30px 20px; }

.column2 {
  float: left;
  width: 35%;
  padding: 30px 20px; }

.about {
  margin-bottom: 50px; }

.prerequisite {
  height: 80px;
  background: #fafafa;
  border-radius: 3px; }

.getting-started {
  position: relative;
  margin-top: 80px;
  padding-left: 100px; }

.border p {
  color: white; }

.text {
  padding-left: 20px;
  padding-right: 20px; }

.header {
  float: right; }

.full-size-module h1 {
  font-size: 2.2em;
  font-weight: bolder;
  color: white;
  margin-top: -1em; }
.full-size-module h3 {
  font-size: 1.2em;
  font-weight: 800;
  color: #6baad6;
  margin-top: 0em; }

.about p {
  font-size: 1.1em; }

.content h5 {
  color: black; }

.prerequisite h4, .prerequisite h5 {
  display: inline-block;
  margin: 0; }
.prerequisite h5 {
  margin-top: 15px;
  color: grey; }

.getting-started h4.float {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  color: grey;
  border-top: 1px solid #cdcdcd; }

.column2 h5 {
  margin: 5px 0 0 0; }
.column2 p {
  margin-top: 0; }
.column2 footer {
  font-size: 0.8em;
  color: #255A7D;
  letter-spacing: 0.5px; }
  .column2 footer a {
    font-weight: bold;
    color: #3176a4;
    text-decoration: none; }

span {
  font-size: 14px;
  font-weight: 900;
  color: grey;
  border-radius: 50px;
  padding: 5px 14px;
  background: white;
  border: 2px solid lightgrey;
  float: left;
  margin-top: 35px;
  margin-right: 15px; }
  span:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); }

.favorite, .play {
  float: right;
  padding-left: 5px;
  padding-right: 5px; }

.favorite img, .play img {
  padding: 3px;
  width: 22px;
  height: 22px;
  opacity: 0.2; }

.resume-btn {
  margin-top: 3em;
  font-size: 14px;
  font-weight: 500;
  color: #3079AB;
  background: white;
  border: none;
  padding: 10px 15px;
  border-radius: 3px; }

.iTunes {
  width: 100%;
  background: white;
  margin: 20px 0 0 0;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  color: #3176a4;
  border-radius: 5px;
  border: 2px solid #3176a4; }

.icon {
  width: 20px;
  float: left;
  margin: 15px 10px auto 30px;
  -webkit-filter: invert(100%); }

.circle {
  width: 11px;
  float: left;
  margin: 20px auto auto 8px;
  -webkit-filter: invert(100%); }

.full-size-module .circle {
  opacity: 0.5; }
.full-size-module .active {
  opacity: 1; }

.prerequisite {
  position: relative; }
  .prerequisite .icon {
    margin: 30px 40px;
    -webkit-filter: invert(60%); }
  .prerequisite span {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    margin: 0;
    display: inline; }

.progress {
  position: absolute;
  left: 0px; }

i.videos {
  font-size: 25px;
  font-weight: lighter;
  color: #255A7D;
  float: left;
  margin-right: 20px;
  padding-top: 25px;
  margin-bottom: 10px; }

.teacher img {
  float: right; }

/*# sourceMappingURL=application.css.map */
