#wrap{
  @include container(1220px, $color-container, $center, 20px, auto);
  padding-bottom: 5px;
  @media #{$brk-wide} {
    width: 100%;
    padding: 0px;
  }
}

#navbar{
  @include container(1150px, $color-container, $center, 0px, auto);
  @include box-shadow;
  @media #{$brk-wide} {
    width: 100%;
  }
}
.header{
  float: right;
  @media #{$brk-phone} {
    display: none;
  }
}
.module {
  @include container(520px, $color-text-light, 30px);
  height: 330px;
  border-radius: 5px;
  @include box-shadow($a: .2);
  &:nth-child(odd) {
    @include box(left);
  }
  &:nth-child(even) {
    @include box(right);
  }
  &:first-child .border, &:last-child .border {
    background-color: $color-java;
  }
  &:nth-child(3) .border{
    background-color: $color-wordpress;
  }
  &:nth-child(2) .border{
    background-color: $color-python;
  }
  @media #{$brk-wide} {
    width: 43%;
    margin: 20px 0px;
  }
  @media #{$brk-narrow} {
    width: 90%;
    float: none;
    &:nth-child(odd) {
      float: none;
      margin-left: 0;
      margin-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    &:nth-child(even) {
      float: none;
      margin-left: 0;
      margin-right: 0;
      margin-left: auto;
      margin-right: auto;
    }

  }
}
.full-size-module {
  position: relative;
  @include container(100%, $color-css-dark, 0px);
  height: 600px;
  border-radius: 3px 3px 0 0;
  @include box-shadow($a: .2);
    .border {
      background-color: $color-css-light;
    }
}

.border{
  @include container($margin: 0, $padding: 0);
  text-align: right;
  color: $color-text-light;
  padding: 5px 25px;
  border-radius: 3px 3px 0px 0px;
}

.java{
  color: $color-java;
}
.wordpress{
  color: $color-wordpress;
}
.python{
  color: $color-python;
}
.css {
  color: $color-css-dark;
}

.content {
  @extend %clearfix;
  background: $color-text-light;
  padding: 0px 30px;
  @media #{$brk-narrow} {
    padding: 0px 20px;
  }
}
.button-bar {
  @extend %clearfix;
  padding-top: 20px;
  padding-bottom: 20px;
  span {
    margin-top: 0;
  }
}

.column1 {
  @include column(65%);
  @media #{$brk-narrow} {
    width: 100%;
    float: none;
  }
}
.column2 {
  @include column(35%);
  @media #{$brk-narrow} {
    width: 100%;
    float: none;
  }
}
.about {
  margin-bottom: 50px;
}

.prerequisite {
  @extend %clearfix;
  height: 80px;
  background: lighten($color-text-dark, 48%);
  border-radius: 3px;
}
.getting-started {
  position: relative;
  margin-top: 80px;
  padding-left: 100px;
  @media #{$brk-phone} {
    padding-left: 0px;
  }
}
