#wrap{
  @include container(1220px, $color-container, $center, 20px, auto);
  margin-top: 10px;
  padding-bottom: 5px;
}
#navbar{
  @include container(1150px, $color-container, $center, 0px, auto);
  @include box-shadow;
}

.module {
  @include container(520px, $color-text-light, 30px);
  height: 330px;
  border-radius: 5px;
  @include box-shadow($a: .2);
  &:nth-child(odd) {
    @include box(left);
  }
  &:nth-child(even) {
    @include box(right);
  }
  &:first-child .border, &:last-child .border {
    background-color: $color-java;
  }
  &:nth-child(3) .border{
    background-color: $color-wordpress;
  }
  &:nth-child(2) .border{
    background-color: $color-python;
  }
}
.full-size-module {
  position: relative;
  @include container(100%, $color-css-dark, 0px);
  height: 600px;
  border-radius: 3px 3px 0 0;
  @include box-shadow($a: .2);
    .border {
      background-color: $color-css-light;
    }
}

.border{
  @include container($margin: 0, $padding: 0);
  text-align: right;
  color: $color-text-light;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 3px 3px 0px 0px;
}

.java{
  color: $color-java;
}
.wordpress{
  color: $color-wordpress;
}
.python{
  color: $color-python;
}
.css {
  color: $color-css-dark;
}

.content {
  @extend %clearfix;
  background: $color-text-light;
  padding: 0px 30px;
}
.button-bar {
  @extend %clearfix;
  padding-top: 20px;
  padding-bottom: 20px;
  span {
    margin-top: 0;
  }
}

.column1 {
  float: left;
  width: 65%;
  padding: 30px 20px;
}

.about {
  margin-bottom: 50px;
}

.prerequisite {
  @extend %clearfix;
  height: 80px;
  background: lighten($color-text-dark, 48%);
  border-radius: 3px;
}
