span{
  border-radius: 50px;
  padding: 5px 14px;
  background-color: $color-text-light;
  border: 2px solid lightgrey;
  @include font-style(14px, 900, $color-text-dark);
  float: left;
  margin-top: 35px;
  margin-right: 15px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
}
.favorite, .play {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.favorite img, .play img {
  padding: 3px;
  width: 22px;
  height: 22px;
  opacity: 0.2;
}
///course styling
.resume-btn {
  @extend %center;
  margin-top: 3em;
  @include font-style(14px, 500, $color-css-light);
  background: $color-text-light;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
}
.iTunes {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  background: none;
  border: 2px solid lighten($color-css-dark, 10%);
  @include font-style(14px, 500, lighten($color-css-dark, 10%));
}
