.icon {
  @include icon(20px, left, 15px 10px auto 30px, invert(100%));
}

.circle {
  @include icon(11px, left, 20px auto auto 8px, invert(100%));
}

.full-size-module {
  .circle {
    opacity: 0.5;
  }
  .active {
    opacity: 1;
  }
}
.prerequisite {
  position: relative;
  .icon {
    @include icon(null, null, 30px 40px, invert(60%));
    @media #{$brk-narrow} {
      margin-left: 10px;
    }
  }
  span {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
    margin: 0;
    display: inline;
  }
}
.progress {
  position: absolute;
  left: 0px;
  @media #{$brk-phone} {
    display: none;
  }
}
i.videos {
  @include font-style(25px, lighter, $color-css-dark);
  float: left;
  margin-right: 20px;
  padding-top: 25px;
  margin-bottom: 10px;
}
.teacher {
  img {
    float: right;
  }
}
