* {
  box-sizing: border-box;
}
body, html{
  @include container($bg: $color-text-light, $margin:0, $padding:0);
  font-family: 'Hind', sans-serif;
}
h2{
  @include box(left, 20px);
  @include font-style(1.3em, 400);
}
h5 {
  @include font-style(15px, 900, $color-text-dark);
  margin-bottom: 0;
}
h3{
  @include font-style(null, 800, rgb(57, 57, 57));
  margin-top: 5px;
}
p {
  @include font-style(15px, lighter, $color-text-dark);
}
hr{
  margin-bottom: 0px;
}
