//color

$color-text-light: white;
$color-container: #EDEFF0;
$color-java: #2C9676;
$color-wordpress: #838CC7;
$color-python: #F092B0;
$color-text-dark: grey;


// Asset paths

$path-img: '../img';


// Media query breakpoints

$brk-narrow: '(max-width: 768px)';
$brk-wide: '(max-width: 1024px)';


// Spacing
$center: 0 auto;
